body, ul {
    margin: 0;
    padding: 0;
  }

  .top-header{
    position: relative;
    background-color: #666;
    height: 100px;
  }
  .bottom-left{
    position: absolute;
    bottom: 10px;
    left: 10px;
    
  }
  
  .container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    
  }
  
  .sidebar {
    width: 180px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position:sticky;
    top: 0;
    /* z-index: -1; */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  

  
  .content {
    flex: 1; 
    padding: 20px;
    
  }

  .L1{
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 2px solid #666;
    text-align: center;
    
    
    
  }

  .L1:hover{
    color: blue;
  }

  li a{
    text-decoration: none;
    color: white;
  }
  
  .L2{
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 2px solid #666;
    text-align: center;
  }

  .L2 a:hover{
    columns: blue;
  }
  
  footer {
    background-color:#e1f2f2;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  footer p {
    font-size: 14px;
    color: #555;
  }
 
  
  @media (min-width: 768px) {
    .container {
      flex-direction: column;
    }
    .sidebar {
      width: auto;
    }

    .L1{
      float: left;
      border: none;
      
    }

    .L2{
      float: right;
      border: none;
    }
    
   
  }

